@bodyBackgroundColor: #1e1e1e;
@pghGold: #DAB36A;
@trBorderColor: #000000;
@textColor: #000000;
@linkColor: #292f46;
body {
    position: relative;
    background-color: @bodyBackgroundColor;
    color: @textColor;
}

h1 {
    text-align: center;
    margin: 1.5em;
    color: @pghGold;
    text-shadow: @trBorderColor 3px 3px;
}

tr {
    border: 1px solid @trBorderColor;
    margin: .2em;
    background-color: @pghGold;
    line-height: 1.6em;
    font-size: 14px;

    a {
      color : @linkColor;
    }
}

td {
    padding: 1.2em;
}

td.name-data {
  width: 170px;
  text-align: right;
}
td.pic-data {
  width: 81px;
}

td.status-data {
  padding-right: 1.6em;
}